html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.5rem;
  font-weight: 30rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.6rem;
}

p {
  font-size: 1.8rem;
}

body {
  max-width: 1000px;
  width: 100%;
  /* display: flex;
  flex-direction: column; */
  /* align-content: center; */
  background-size: cover;
  background: linear-gradient(to bottom, rgba(28, 26, 31, 0.99) 0%, rgba(0, 0, 0, 0.55) 2000px), url(./stars.png);
  color: white;
  font-family: 'Dosis', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-left: 55%; */
}

img {
  width: 90%;
  height: 70vh;
}

.container {
  display: flex;
  flex-direction: column;
}